.about__content{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
}

.about__disclaimer{
  color: $links-color;
  opacity: 0.6;
}

.about__title {
  color: $links-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.333;
}

.title__pos{
  margin-bottom: 40px;
  margin-top: 30px;
}

.about__ps {
  color: $links-color;
  opacity: 0.6;
  font-style: italic;
  line-height: 1.675;
  margin-top: auto;
}

