.gradient-btn {
  padding: 30px 118px;
  border: none;
  background-image: linear-gradient(to right, #3259e8, #4d87ee);
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 39px;
  cursor: pointer;
}