.nav__list{
  display: flex;
}
.nav__item{
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link{
  color: $links-color;
  line-height: 1.675;
  &:hover{
    text-decoration: underline;
  }
}