.previews__list{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 71%;
  left: 23.7%;
  z-index: 20;
}

.previews__item{
  width: 177px;
  height: 100px;
  position: relative;
  &:hover:after{
    content: "";
    position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: $slider-hover;
  }
  &--active:hover{
    outline: 3px solid $outline-color;
}
}
.previews__pic{
  display: block;
  height: 100%;
  width: 100%;
}