
.protagonist{
  height: 100vh;
  min-height: 650px;
  position: relative;
}

.protagonist__container{
  display: flex;
  flex-direction: column;
}

// .protagonist__content{

// }

.protagonist__bottom-btn{
  color: $links-color;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}