.scroll-down{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: $links-color;
  fill: $links-color;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
    color: $main-hover;
    fill: $main-hover;
  }
}

.scroll__icon{
  width: 30px;
  height: 30px;
  margin-left: 15px;
}