.scroll-down{
  display: block;
  width: 20px;
  height: 30px;
  color: $links-color;
}

.scroll__icon{
  fill: $links-color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5%;
  left: 285%;
}