.slider{
  display: flex;
  
}
.slider__content-left{
  position: relative;
  width: 76.5%;
  min-height: 550px;
}

.slider__active-image{
  display: block;
  width: 977px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.slider__current-number{
  font-size: 400px;
  color: rgb(230, 230, 230);
  line-height: 0.12;
  font-weight: 900;
  position: absolute;
  top: 38.5%;
  left: 80.5%;
  z-index: 1;
}

