.user-info{
 display: flex;
 justify-content: center;
}
.user-info__block{
  display: flex;
  padding-top: 18%;
  padding-right: 17%;
}

.user-info__desc{
  display: flex;
  font-size: 18px;
  color: $links-color;
  opacity: 0.5;
  line-height: 1.3;
  text-align: right; 
  margin-right: 60px;
}

.user-info__username{
  display: flex;
  font-size: 72px;
  font-weight: 700;
  color: $links-color;
  line-height: 0.833;
}