.user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user__desc-content{
  display: block;
  width: 62%;
  td:first-child{
    width: 50%;
  }
  td:last-child{
    color: $links-color;
  }
}

