.values__title{
  padding-top: 7%;
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}

.values__title-content{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 5%;
  
}
.longtitle{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.longtitle__text {
  color: $longtitle-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 7%;
}

.longtitle__desc{
  line-height: 1.875;
  color: $grey-color;
}

