section#about.about-section
            .container.about__container
              .about
                .about__user-data
                  .user
                    .avatar.user__avatar
                      +image("content/user.jpg", "avatar__img")
                    .user__desc
                    -
                      var userdata = [
                        ["Проживаю:", "Санкт-Петербург"],
                        ["Возраст:", "33 года"],
                        ["Родился:", "15 ноября 1986"],
                        ];
                    table.user__desc-content
                      tbody.user__desc-content-body
                        each row in userdata
                          tr
                            td #{row[0]}
                            td #{row[1]}
                .about__content 
                  .about__disclamer Привет, меня зовут
                  h2.about__title.title__pos Алексей Сафронов
                  .about__desc
                    p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__ps
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!